//this template should be for create and update should find a better name (edit) ?
extends ../layout
block content
    h1=title
    div
        form(method='post')
            if(model)
                input(type="hidden", name="id", value=model._id)

            div(class="form-group")
                label(for="type")= __('Type*')
                select(class="form-control", name="type")
                    each sensor in sensors
                        option(value=sensor.type, title=sensor.description,selected=model && model.type==sensor.type ? true : false)=sensor.name
            div(class="form-group")
                label(for="description")= __('Zone')
                input(type="text", class="form-control", id="description", name="description", placeholder="Optional zone", value=model && model.description)
            div(class="form-group")
                label(for="crontime")= __('Crontime*')
                input(type="text", class="form-control", id="crontime", name="crontime", placeholder="Crontime sample: 0 0 */4 * * *", value=model && model.crontime)
            div(class="form-group")
                label(for="trigger")= __('Trigger*')
                div
                    select(class="form-control", name="condition", style="float: left;width: 75px;")
                        option(value=">", selected=model && model.condition === '>' ? true : false) >
                        option(value="<", selected=model && model.condition === '<' ? true : false) <
                        option(value="==",selected=model && model.condition === '==' ? true : false) ==
                        option(value="!=",selected=model && model.condition === '!=' ? true : false) !=
                        option(value=">=",selected=model && model.condition === '>=' ? true : false) >=
                        option(value="<=",selected=model && model.condition === '<=' ? true : false) <=
                    input(type="text", class="form-control", id="trigger", name="trigger", placeholder="Trigger sample: > 5", value=model && model.trigger, style="width: calc(100% - 75px);")

            div(id="options_block")
                each option in options
                    div(class="form-group")
                        label(for=option.name)= option.label
                        input(type=options.type, class="form-control", id=option.name, name='options_' + option.name, placeholder=option.placeholder, value=model && model.options[option.name])


            button(type="submit" class="btn btn-primary pull-right")= model ? __('Update') : __('Create')
            div(class="clearfix")

    script(type='text/javascript').
        $('[name=type]').bind('change', function () {
            $.ajax('/devices/' + this.value, {
                complete: function (resp) {
                    var html = resp.responseText;
                    $('#options_block').html(html);
                }
            })
        });